* {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.date{
    margin-top: -15px;
}

img{
    width: 100%;
}

p{
    margin: 0px 80px;
}

hr{
    margin-top: 30px;
    width: 80%;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}